1). Concatenate two lists index-wise
teams = ["India", "England", "NZ", "Aus"]
captains = ["Kohli","Root","Williaamson", "Smith"]

In [ ]:
teams = ["India", "England", "NZ", "Aus"]
captains = ["Kohli","Root","Williaamson", "Smith"]
zipped = zip(teams,captains)
ziplist = list(zipped)
print(ziplist)

[('India', 'Kohli'), ('England', 'Root'), ('NZ', 'Williaamson'), ('Aus', 'Smith')]

In [ ]:
zipped = zip(teams,captains)
zipdict = dict(zipped)
print(zipdict)

{'India': 'Kohli', 'England': 'Root', 'NZ': 'Williaamson', 'Aus': 'Smith'}

2) Given a list of books, their prices, and the quantities that you purchased, print out the total amount spent on each item. 
books= ["textbooks", "exercise books", "story book", "drawing books"] prices = [100,60,90,70] 
quantities = [3,2,1,4]

In [ ]:
books= ["textbooks", "exercise books", "story book", "drawing books"]
prices = [100,60,90,70]
quantities = [3,2,1,4]
for x,y,z in zip(books,prices,quantities):
  print(f"You bought {z} {x} for ${y*z}")

You bought 3 textbooks for $300
You bought 2 exercise books for $120
You bought 1 story book for $90
You bought 4 drawing books for $280

3) Given a Python list. Add 10 to each item of the list 1.
List 1 = [2,4,6,8,10]

In [ ]:
List1 = [2,4,6,8,10]
x = [i+10 for i in List1]
print(x)

[12, 14, 16, 18, 20]

4) Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order 
list1 = [10, 20, 30, 40] list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]

In [ ]:
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]
for x,y in zip(list1,list2[::-1]):
  print(x,y)

10 Grapes
20 Oranges
30 Mangoes
40 Apples

5) Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look
like the following list
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

nested list= one link is in other link

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list2 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
#list1 = list2
sub_list = ["h","i","j"]

In [ ]:
list1[2][1][2].extend(sub_list)
print(list1)
list2[2][1][2].extend(sub_list)
print(list2)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

6) Given a Python list, write a program to remove all occurrences of item 15.
List1= [10,15,20,15,32,54,15]

In [ ]:
List1= [10,15,20,15,32,54,15]
while 15 in List1:
  List1.remove(15)
print(List1)

[10, 20, 32, 54]

7) Merge following two Python dictionaries into one
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}