1). Build a generic python module to do the followings

In [45]:
#import libraries to the code
import math
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [46]:
#get five documents
DocNo1 = "Information Retrieval System"
DocNo2 = "Information about the Human Resource System"
DocNo3 = "Resources allocated to Faculty of Computing Information Centre"
DocNo4 = "Ranked Retrieval Model with High Accuracy"
DocNo5 = "Boolean Retrieval Model has Several Problems"

#take a list
docs_List = [DocNo1, DocNo2, DocNo3, DocNo4, DocNo5]

In [47]:
# Seperate in to phase
DocNo1_phase = DocNo1.split(' ')
DocNo2_phase = DocNo2.split(' ')
DocNo3_phase = DocNo3.split(' ')
DocNo4_phase = DocNo4.split(' ')
DocNo5_phase = DocNo5.split(' ')

In [48]:
# Find a unique phase
unique_words = set(DocNo1_phase).union(set(DocNo2_phase)).union(set(DocNo3_phase)).union(set(DocNo4_phase)).union(set(DocNo5_phase))

1). a). Calculate the term frequency and document frequency for the given corpus.

Term Frequency

In [49]:
#get term frequency as word occurences in a document

def coTOfFre(uniqueWords, bagOfWords):
  import math
  TOfFreDict = dict.fromkeys(uniqueWords, 0)
  for w in bagOfWords:
    TOfFreDict[w] += 1
  return TOfFreDict

tOfFre_doc1 = coTOfFre(unique_words, DocNo1_phase)
tOfFre_doc2 = coTOfFre(unique_words, DocNo2_phase)
tOfFre_doc3 = coTOfFre(unique_words, DocNo3_phase)
tOfFre_doc4 = coTOfFre(unique_words, DocNo4_phase)
tOfFre_doc5 = coTOfFre(unique_words, DocNo5_phase)

print(tOfFre_doc1,tOfFre_doc2,tOfFre_doc3,tOfFre_doc4,tOfFre_doc5)

{'Ranked': 0, 'System': 1, 'Problems': 0, 'to': 0, 'Boolean': 0, 'Resource': 0, 'Information': 1, 'Model': 0, 'allocated': 0, 'Centre': 0, 'Retrieval': 1, 'about': 0, 'the': 0, 'High': 0, 'has': 0, 'of': 0, 'Faculty': 0, 'Computing': 0, 'Several': 0, 'with': 0, 'Human': 0, 'Accuracy': 0, 'Resources': 0} {'Ranked': 0, 'System': 1, 'Problems': 0, 'to': 0, 'Boolean': 0, 'Resource': 1, 'Information': 1, 'Model': 0, 'allocated': 0, 'Centre': 0, 'Retrieval': 0, 'about': 1, 'the': 1, 'High': 0, 'has': 0, 'of': 0, 'Faculty': 0, 'Computing': 0, 'Several': 0, 'with': 0, 'Human': 1, 'Accuracy': 0, 'Resources': 0} {'Ranked': 0, 'System': 0, 'Problems': 0, 'to': 1, 'Boolean': 0, 'Resource': 0, 'Information': 1, 'Model': 0, 'allocated': 1, 'Centre': 1, 'Retrieval': 0, 'about': 0, 'the': 0, 'High': 0, 'has': 0, 'of': 1, 'Faculty': 1, 'Computing': 1, 'Several': 0, 'with': 0, 'Human': 0, 'Accuracy': 0, 'Resources': 1} {'Ranked': 1, 'System': 0, 'Problems': 0, 'to': 0, 'Boolean': 0, 'Resource': 0, 'Information': 0, 'Model': 1, 'allocated': 0, 'Centre': 0, 'Retrieval': 1, 'about': 0, 'the': 0, 'High': 1, 'has': 0, 'of': 0, 'Faculty': 0, 'Computing': 0, 'Several': 0, 'with': 1, 'Human': 0, 'Accuracy': 1, 'Resources': 0} {'Ranked': 0, 'System': 0, 'Problems': 1, 'to': 0, 'Boolean': 1, 'Resource': 0, 'Information': 0, 'Model': 1, 'allocated': 0, 'Centre': 0, 'Retrieval': 1, 'about': 0, 'the': 0, 'High': 0, 'has': 1, 'of': 0, 'Faculty': 0, 'Computing': 0, 'Several': 1, 'with': 0, 'Human': 0, 'Accuracy': 0, 'Resources': 0}

In [50]:
# Obtain document frequencies
def coDocFre(words, doc):
  docFre = {} #Dictionary containing document frequency
  for w in words:
    docFre[w] = 0
    for d in doc:
      if w in d:
        docFre[w] += 1
  return docFre

In [51]:
# Frequency of the document
docFre = coDocFre(unique_words, [DocNo1_phase, DocNo2_phase, DocNo3_phase, DocNo4_phase, DocNo5_phase])

print(docFre)

{'Ranked': 1, 'System': 2, 'Problems': 1, 'to': 1, 'Boolean': 1, 'Resource': 1, 'Information': 3, 'Model': 2, 'allocated': 1, 'Centre': 1, 'Retrieval': 3, 'about': 1, 'the': 1, 'High': 1, 'has': 1, 'of': 1, 'Faculty': 1, 'Computing': 1, 'Several': 1, 'with': 1, 'Human': 1, 'Accuracy': 1, 'Resources': 1}

In [52]:
# Calculate term frequency scores
def calcTOfFreSco(tOfFre_dict):
  for w, f in tOfFre_dict.items():
    if f > 0:
      tOfFre_dict[w] = 1 + math.log10(f)
  return tOfFre_dict #return tOfFre_dict

In [53]:
# get term frequency scores
tOfFreSco_doc1 = calcTOfFreSco(tOfFre_doc1)
tOfFreSco_doc2 = calcTOfFreSco(tOfFre_doc2)
tOfFreSco_doc3 = calcTOfFreSco(tOfFre_doc3)
tOfFreSco_doc4 = calcTOfFreSco(tOfFre_doc4)
tOfFreSco_doc5 = calcTOfFreSco(tOfFre_doc5)

In [86]:


def calIDFSco(docFre, docs):
  N = len(docs)

  idf = dict.fromkeys(docFre.keys(), 0)

  for x in idf:
    idf[x] = math.log10(N/docFre[x])

  return idf

In [55]:
#difine the Idf scores
idfs = calIDFSco(docFre, [DocNo1_phase, DocNo2_phase, DocNo3_phase, DocNo4_phase, DocNo5_phase])

1). b). Calculate the tf-idf weight for terms in the given corpus using the formula

In [56]:
# Calculation of the term frequency-Idf socres

def CalTfIdf(tOfFre_scores, idf_scores):
  tOfFre_idf = {}
  for w, tOfFre in tOfFre_scores.items():
    tOfFre_idf[w] = tOfFre * idf_scores[w]

  return tOfFre_idf  #return tOfFre_idf

In [57]:
# get the term frequency-Idf scores
tOfFre_idf1 = CalTfIdf(tOfFreSco_doc1, idfs)
tOfFre_idf2 = CalTfIdf(tOfFreSco_doc2, idfs)
tOfFre_idf3 = CalTfIdf(tOfFreSco_doc3, idfs)
tOfFre_idf4 = CalTfIdf(tOfFreSco_doc4, idfs)
tOfFre_idf5 = CalTfIdf(tOfFreSco_doc5, idfs)

In [58]:
# Visualizion of the Idf scores

all_idfs = pd.DataFrame([tOfFre_idf1,tOfFre_idf2,tOfFre_idf3,tOfFre_idf4,tOfFre_idf5])
all_idfs

,Ranked,System,Problems,to,Boolean,Resource,Information,Model,allocated,Centre,...,High,has,of,Faculty,Computing,Several,with,Human,Accuracy,Resources
0,0.00000,0.39794,0.00000,0.00000,0.00000,0.00000,0.221849,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,0.00000,0.39794,0.00000,0.00000,0.00000,0.69897,0.221849,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.69897,0.00000,0.00000
2,0.00000,0.00000,0.00000,0.69897,0.00000,0.00000,0.221849,0.00000,0.69897,0.69897,...,0.00000,0.00000,0.69897,0.69897,0.69897,0.00000,0.00000,0.00000,0.00000,0.69897
3,0.69897,0.00000,0.00000,0.00000,0.00000,0.00000,0.000000,0.39794,0.00000,0.00000,...,0.69897,0.00000,0.00000,0.00000,0.00000,0.00000,0.69897,0.00000,0.69897,0.00000
4,0.00000,0.00000,0.69897,0.00000,0.69897,0.00000,0.000000,0.39794,0.00000,0.00000,...,0.00000,0.69897,0.00000,0.00000,0.00000,0.69897,0.00000,0.00000,0.00000,0.00000

1). c). Calculate the normalized vector for each term

In [59]:

# Normalizion of scores

def norTOfFreIdf(tOfFre_idf):
  squared = []
  normalized = {}

  # Get sqaures
  for w, score in tOfFre_idf.items():
    squared.append(score ** 2)

# Normalize
  for w, score in tOfFre_idf.items():
    normalized[w] = score / math.sqrt(sum(squared))

  return normalized

In [60]:
# Normalizion of the term frequency-Idf scores
nor_tOfFre_idf1 = norTOfFreIdf(tOfFre_idf1)
nor_tOfFre_idf2 = norTOfFreIdf(tOfFre_idf2)
nor_tOfFre_idf3 = norTOfFreIdf(tOfFre_idf3)
nor_tOfFre_idf4 = norTOfFreIdf(tOfFre_idf4)
nor_tOfFre_idf5 = norTOfFreIdf(tOfFre_idf5)

normalized_scores = pd.DataFrame([nor_tOfFre_idf1, nor_tOfFre_idf2, nor_tOfFre_idf3, nor_tOfFre_idf4, nor_tOfFre_idf5])
normalized_scores

,Ranked,System,Problems,to,Boolean,Resource,Information,Model,allocated,Centre,...,High,has,of,Faculty,Computing,Several,with,Human,Accuracy,Resources
0,0.00000,0.785287,0.00000,0.000000,0.00000,0.00000,0.437792,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
1,0.00000,0.270651,0.00000,0.000000,0.00000,0.47539,0.150886,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.47539,0.00000,0.000000
2,0.00000,0.000000,0.00000,0.375274,0.00000,0.00000,0.119110,0.000000,0.375274,0.375274,...,0.00000,0.00000,0.375274,0.375274,0.375274,0.00000,0.00000,0.00000,0.00000,0.375274
3,0.47539,0.000000,0.00000,0.000000,0.00000,0.00000,0.000000,0.270651,0.000000,0.000000,...,0.47539,0.00000,0.000000,0.000000,0.000000,0.00000,0.47539,0.00000,0.47539,0.000000
4,0.00000,0.000000,0.47539,0.000000,0.47539,0.00000,0.000000,0.270651,0.000000,0.000000,...,0.00000,0.47539,0.000000,0.000000,0.000000,0.47539,0.00000,0.00000,0.00000,0.000000

2). Use the module built in (1) to compute the normalized vector for search query 
“Information Retrieval”.

In [61]:

qu = "Information Retrieval"
qu_words = qu.split(" ")
unique_qu_words = set(qu_words)

In [62]:
# Get the term freqency
qu_tOfFre = coTOfFre(unique_qu_words, qu_words)

In [64]:
# Calculation the  term frequency score
qu_tOfFre_sco = calcTOfFreSco(qu_tOfFre)

In [66]:
# Calculate term frequency-Idf scores
qu_tOfFreidf_sco = CalTfIdf(qu_tOfFre_sco, idfs)

In [67]:
# Normalized term frequency-idf
qu_ntfidf_sco = norTOfFreIdf(qu_tOfFreidf_sco)

3). Write the necessary code the find out the similarity score between the search query and 
each documents in the given corpus using the following methods

3). a). Euclidian Distance

In [68]:

# Calculation of the Euclidean distance
def calEu(tOfFreidf_query, tOfFreidf):
  dist = [0]
  for w in tOfFreidf:
    euclidean = (tOfFreidf_query[w] - tOfFreidf[w]) ** 2
    dist.append(euclidean)

  return math.sqrt(sum(dist))

In [69]:
# term frequency-Idf scores of all phase
all_tOfFreidf = {}
for w in unique_words:
  if w in qu_tOfFreidf_sco.keys():
    all_tOfFreidf[w] = qu_tOfFreidf_sco[w]
  else:
    all_tOfFreidf[w] = 0

In [71]:

euc_dist1 = calEu(all_tOfFreidf,tOfFre_idf1)
euc_dist2 = calEu(all_tOfFreidf,tOfFre_idf2)
euc_dist3 = calEu(all_tOfFreidf,tOfFre_idf3)
euc_dist4 = calEu(all_tOfFreidf,tOfFre_idf4)
euc_dist5 = calEu(all_tOfFreidf,tOfFre_idf5)

print(euc_dist1,euc_dist2,euc_dist3,euc_dist4,euc_dist5)

0.3979400086720376 1.4703092824484985 1.8625601564612082 1.4703092824484985 1.4703092824484985

3). b). Cosine Distance

In [72]:
# Calculation of the cosine distance
def calCosSco(ntfidf_query, ntfidf):
  cos = [0]
  for w in ntfidf:
    cosine = (ntfidf_query[w] * ntfidf[w])
    cos.append(cosine)

  return sum(cos)

In [73]:
# Normalized term frequency-Idf scores of all phase
all_ntfidf = {}
for w in unique_words:
  if w in qu_ntfidf_sco.keys():
    all_ntfidf[w] = qu_ntfidf_sco[w]
  else:
    all_ntfidf[w] = 0

In [74]:

cos_sco1 = calCosSco(all_ntfidf, nor_tOfFre_idf1)
cos_sco2 = calCosSco(all_ntfidf, nor_tOfFre_idf2)
cos_sco3 = calCosSco(all_ntfidf, nor_tOfFre_idf3)
cos_sco4 = calCosSco(all_ntfidf, nor_tOfFre_idf4)
cos_sco5 = calCosSco(all_ntfidf, nor_tOfFre_idf5)


print(cos_sco1,cos_sco2,cos_sco3,cos_sco4,cos_sco4)

0.6191315583062658 0.10669235182290762 0.08422318855436617 0.10669235182290762 0.10669235182290762

4). Rank the documents based on values you calculated in 3) a) & b)

In [75]:

docFre = pd.DataFrame(data={'Document': ['DOC1', 'DOC2', 'DOC3','DOC4', 'DOC5'],
                        'CosineDistance': [cos_sco1,cos_sco2,cos_sco3,cos_sco4,cos_sco5]})
docFre

  Document  CosineDistance
0     DOC1        0.619132
1     DOC2        0.106692
2     DOC3        0.084223
3     DOC4        0.106692
4     DOC5        0.106692

In [76]:
docFre = pd.DataFrame(data={'Document': ['Doc1', 'Doc2', 'Doc3','Doc4', 'Doc5'],
                        'EuclidianDistance': [euc_dist1,euc_dist2,euc_dist3,euc_dist4,euc_dist5]})
docFre

  Document  EuclidianDistance
0     Doc1           0.397940
1     Doc2           1.470309
2     Doc3           1.862560
3     Doc4           1.470309
4     Doc5           1.470309

In [85]:
docFre['DefaultRank'] = docFre['Cosine_Distance'].rank()
docFre['MaxRank'] = docFre['Cosine_Distance'].rank(method='max')
docFre

KeyError: ignored

In [83]:
docFre['DefaultRank'] = docFre['EuclidianDistance'].rank()
docFre['MaxRank'] = docFre['EuclidianDistance'].rank(method='max')
docFre

  Document  EuclidianDistance  DefaultRank  MaxRank
0     Doc1           0.397940          1.0      1.0
1     Doc2           1.470309          3.0      4.0
2     Doc3           1.862560          5.0      5.0
3     Doc4           1.470309          3.0      4.0
4     Doc5           1.470309          3.0      4.0